  <!-- breadcrumb area -->
  <div class="rts__section breadcrumb__background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 position-relative d-flex justify-content-between align-items-center">
                <div class="breadcrumb__area max-content breadcrumb__padding">
                    <div class="rts__job__card__big bg-transparent p-0 position-relative z-1 flex-wrap justify-content-between d-flex gap-4 align-items-center">
                        <div class="d-flex gap-4 align-items-center flex-md-row flex-column mx-auto mx-md-0">
                            <div class="company__icon rounded-2 bg-white">
                                <img class="" src="assets/img/home-1/company/apple.svg" alt="">
                            </div>
                            <div class="job__meta w-100 d-flex text-center text-md-start flex-column gap-2">
                                <div class="">
                                    <h3 class="job__title h3 mb-0">Senior UI Designer, Apple</h3>
                                </div>
                                <div class="d-flex gap-3 justify-content-center justify-content-md-start flex-wrap mb-3 mt-2">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light rt-briefcase"></i> Full Time
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-clock"></i> 1 Years Ago
                                    </div>
                                    <div class="d-flex gap-2 fw-medium align-items-center">
                                        <i class="fa-light rt-price-tag"></i> $1000 - $2000 Monthly
                                    </div>
                                </div>
                                <div class="job__tags d-flex justify-content-center justify-content-md-start flex-wrap gap-3">
                                    <a href="job-details-1.html#">Creative</a>
                                    <a href="job-details-1.html#">user interface</a>
                                    <a href="job-details-1.html#">web ui</a>
                                </div>
                            </div>
                        </div>
                    </div>             
                </div>
                <div class="breadcrumb__area__shape d-flex gap-4 justify-content-end align-items-center">
                    <div class="shape__one common">
                        
                    </div>
                    <div class="shape__two common">
                        <img src="assets/img/breadcrumb/shape-2.svg" alt="">
                    </div>
                    <div class="shape__three common">
                        <img src="assets/img/breadcrumb/shape-3.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- breadcrumb area end -->

    <!-- job list one -->
     <div class="rts__section section__padding">
        <div class="container">
            <div class="row g-30">
               <div class="col-lg-8">
                <div class="rts__job__details">
                    <div class="rts__tab active__link mb-30">
                        <nav>
                            <div class="nav nav-tabs">
                                <a class="nav-link active" href="job-details-1.html#all">All</a>
                                <a class="nav-link" href="job-details-1.html#description">Job Description</a>
                                <a class="nav-link" href="job-details-1.html#responsibility">Responsibilities</a>
                                <a class="nav-link" href="job-details-1.html#requirements">Requirements</a>
                                <a class="nav-link" href="job-details-1.html#skill">Skill & Experience</a>
                                <a class="nav-link" href="job-details-1.html#salary">Salary & Benefits</a>
                            </div>
                        </nav>
                    </div>
                    <div id="description" class="mb-30">
                        <h6 class="fw-semibold mb-20">Job Description</h6>
                        <p>We are seeking a skilled Part-Time Software Engineer to join our team, specializing in social media content creation for lead generation purposes. The ideal candidate will have a creative flair, technical proficiency, and a strong understanding of social media trends and algorithms. Must be able to work Monday-Friday during EST business hours. This role will be under the ScaledOn brand, but will be working directly with one of our partners as their dedicated Software Engineer.</p>
                    </div>
                    <div id="responsibility" class="mb-30">
                        <h6 class="fw-semibold mb-20">Responsibility</h6>
                        <ul class="list-style-dot">
                            <li>Design and build web and enterprise application using in ReactJS/Next JS/.Net Core</li>
                            <li>Collaborate with cross-functional teams to analyze, design, and implement new features.</li>
                            <li>Follow defined coding rules/conventions defined by the company.</li>
                            <li>Perform Unit test and ensure proper test coverage as per organizational standard.</li>
                            <li>Prepare basic design, detail design, execute basic acceptance testing.</li>
                            <li>Follow review process for peer review to code delivery.</li>
                            <li>Participate in defined meeting as per company policy.</li>
                            <li>Senior Software Engineer should pose mindset and ability to lead small team.</li>
                        </ul>
                    </div>
                    <div id="requirements" class="mb-30">
                        <h6 class="fw-semibold mb-20">Requirements</h6>
                        <ul class="list-style-dot">
                            <li>Excellent knowledge of Relational Databases MYSQL and ORM technologies (JPA, Hibernate).</li>
                            <li>Strong understanding on Object-Oriented analysis and design using common design patterns.</li>
                            <li>Need to know advanced in ReactJS/Next JS/.Net Core.</li>
                            <li>Practical experience in REST & RESTful web services.</li>
                            <li>Commanding knowledge on Maven, Gradle build tools.</li>
                            <li>Follow review process for peer review to code delivery.</li>
                            <li>Participate in defined meeting as per company policy.</li>
                            <li>Senior Software Engineer should pose mindset and ability to lead small team.</li>
                        </ul>
                    </div>
                    <div id="skill" class="mb-30">
                        <h6 class="fw-semibold mb-20">Skills and Experience</h6>
                        <div class="job__tags job__details__tags">
                            <a href="job-details-1.html#" class="job__tag">Javascript</a>
                            <a href="job-details-1.html#" class="job__tag">user interface</a>
                            <a href="job-details-1.html#" class="job__tag">Problem Solving</a>
                        </div>
                    </div>
                    <div id="salary" class="mb-30">
                        <h6 class="fw-semibold mb-20">Salary and Benefits</h6>
                        <ul class="list-style-dot">
                            <li>Lunch Facilities: Full Subsidize</li>
                            <li>Salary Review: Yearly</li>
                            <li>Festival Bonus: 2</li>
                            <li>This will be a Night Shift work- Timing will be from 11.00 PM to 07.00 AM.</li>
                            <li>Weekend-Two Days</li>
                            <li>Monthly on time guaranteed payment</li>
                            <li>early Earned Leave, Sick Leave and Casual Leave facility and many more to come soon.</li>
                            <li>Salery: $1000- $2000 Monthly</li>
                        </ul>
                    </div>
                    <div class="d-flex flex-wrap gap-4 mt-40 mb-60">
                        <a href="job-details-1.html#" class="rts__btn apply__btn fw-bold">Apply This Possition</a>
                        <div class="d-flex gap-3 align-items-center">
                            <span class="h6 fw-semibold">Share</span>
                            <div class="rts__social d-flex gap-3">
    <a target="_blank" href="https://facebook.com"  aria-label="facebook">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a target="_blank" href="https://instagram.com"  aria-label="instagram">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a target="_blank" href="https://linkedin.com"  aria-label="linkedin">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://pinterest.com"  aria-label="pinterest">
        <i class="fa-brands fa-pinterest"></i>
    </a>
    <a target="_blank" href="https://youtube.com"  aria-label="youtube">
        <i class="fa-brands fa-youtube"></i>
    </a>
</div>
                        </div>
                    </div>
                </div>
                <div class="video__section mt-40">
                    <h5 class="mb-30 d-block">Job apply Process video</h5>
                    <div class="video__section__content">
                        <img src="assets/img/pages/video-bg.webp" alt="">
                        <a href="https://www.youtube.com/watch?v=C9U1U15GSlM" class="video__play__btn" title="Play Video" data-lightbox>
                            <i class="fa-sharp fa-solid fa-play"></i>
                        </a>
                    </div>
                </div>
               </div>
               <div class="col-lg-4 d-flex flex-column gap-40">
                    <div class="company__card">
                        <div class="icon">
                            <img src="assets/img/icon/microsoft.svg" alt="">
                        </div>
                        <h5 class="company__name mt-20">Google.com</h5>
                        <a href="job-details-1.html#" class="company__link d-block mt-20" aria-label="Visit Website" target="_blank">Visit Website</a>
                        <a href="job-details-1.html#" class="rts__btn apply__btn mt-40">Apply This Possition</a>
                    </div>
                    <div class="job__overview">
                        <h6 class="fw-semibold mb-20">Job Overview</h6>
                        <div class="job__overview__content">
                            <ul>
                                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                                    <span class="left-text"> <i class="rt-calender"></i> Date Posted</span>
                                    <span class="text">:  10,July, 2023</span>
                                </li>
                                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                                    <span class="left-text"> <i class="fa-light fa-user"></i> Vacancy</span>
                                    <span class="text">: 5</span>
                                </li>
                                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                                    <span class="left-text"> <i class="rt-experience"></i> Experience</span>
                                    <span class="text">: 5 Years</span>
                                </li>
                                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                                    <span class="left-text"> <i class="rt-price-tag"></i> Offered Salary</span>
                                    <span class="text">: $2000-$3000</span>
                                </li>
                                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                                    <span class="left-text"> <i class="rt-loading"></i> Job Deadline</span>
                                    <span class="text">: 01 July 2024</span>
                                </li>
                                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                                    <span class="left-text"> <i class="rt-qualification"></i> Qualification</span>
                                    <span class="text">: Bachelor Degree</span>
                                </li>
                                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                                    <span class="left-text"> <i class="fa-sharp fa-thin fa-location-dot"></i> Location</span>
                                    <span class="text">: New York, USA</span>
                                </li>
                                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                                    <span class="left-text"> <i class="fa-light fa-user"></i> Gender</span>
                                    <span class="text">: Both</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="job__location">
                        <h6 class="fw-semibold mb-20">Job Location</h6>
                        <div class="gmap">
                            <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Reacthemes+(ReacThemes)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                        </div>
                    </div>
                    <div class="job__contact">
                        <h6 class="fw-semibold mb-20">Contact Google.com</h6>
                        <form action="job-details-1.html#" class="d-flex flex-column gap-4">
                            <div class="search__item">
                                <label for="gemail" class="mb-3 font-20 fw-medium text-dark text-capitalize">Your Email</label>
                                <div class="position-relative">
                                    <input type="email" id="gemail" placeholder="Enter your email">
                                    <i class="rt-mailbox"></i>
                                </div>
                            </div>

                            <div class="search__item">
                                <label for="phone" class="mb-3 font-20 fw-medium text-dark text-capitalize">Phone</label>
                                <div class="position-relative">
                                    <input type="text" id="phone" placeholder="(+88)154-678789">
                                    <i class="rt-phone"></i>
                                </div>
                            </div>
                            <div class="search__item">
                                <label class="mb-3 font-20 fw-medium text-dark text-capitalize" for="message">Your Message</label>
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                                <i class="fa-thin fa-comment-lines"></i>
                            </div>
                            <button type="submit" class="rts__btn apply__btn w-100">Send a Message</button>
                        </form>
                    </div>
               </div>
            </div>
        </div>
     </div>
    <!-- job list one end -->

    <!-- top employer -->
    <div class="rts__section pb-120 overflow-hidden">
        <div class="container">
            <div class="row justify-content-center position-relative">
                <div class="col-xl-6 col-lg-10">
    <div class="rts__section__content text-center mb-60">
        <h3 class="rts__section__title section__mb">Related Jobs</h3>
        <p class="rts__section__desc">Looking for your next career opportunity. Look no further.</p>
    </div>
</div>
                <div class="rts__slider__control d-none d-md-flex style-gray z-3 w-100 justify-content-between g-0 position-absolute top-50  translate-middle-y">
                    <div class="rts__slide__next slider__btn"><i class="fa-sharp fa-solid fa-chevron-left"></i></div>
                    <div class="rts__slide__prev slider__btn"><i class="fa-sharp fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
            <div class="row swiper-data overflow-hidden" data-swiper='{
                "slidesPerView": 4.1,
                    "autoplay": true,
                    "loop": true,
                    "navigation": {
                        "nextEl": ".rts__slide__next",
                        "prevEl": ".rts__slide__prev"
                    },
                    "breakpoints": {
                        "0": {
                            "slidesPerView": 1.05
                        },
                        "576": {
                            "slidesPerView": 1.05
                        },
                        "768": {
                            "slidesPerView": 2.05
                        },
                        "992": {
                            "slidesPerView": 3.05
                        },
                        "1200": {
                            "slidesPerView": 4.05
                        }
                    }

                }'>
                <div class="swiper-wrapper">
                    <!-- single slide -->
                    <div class="swiper-slide">
                        <div class="rts__job__card style__five">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="company__icon">
                                    <img src="assets/img/home-1/company/microsoft.svg" alt="">
                                </div>
                                <div class="featured__option">
                                    <span>Featured</span>
                                </div>
                            </div>
                            <div class="d-flex gap-3 mt-4 flex-wrap">
                                <div class="d-flex gap-2 align-items-center font-sm">
                                    <i class="fa-light fa-location-dot"></i> Newyork, USA
                                </div>
                                <div class="d-flex gap-2 align-items-center font-sm">
                                    <i class="fa-light fa-briefcase"></i> Full Time
                                </div>
                            </div>
                            <div class="font-20 fw-medium job__title mt-3 mb-2">
                                <a href="job-details-1.html#" aria-label="job" class="job__title">
                                    Software Engineer, Apple
                                </a>
                            </div>
                            <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                <a href="job-details-1.html#">Creative</a>
                                <a href="job-details-1.html#">user interface</a>
                                <a href="job-details-1.html#">web ui</a>
                            </div>
                        </div>
                    </div>
                    <!-- single slide end -->
                    <!-- single slide -->
                    <div class="swiper-slide">
                        <div class="rts__job__card style__five">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="company__icon">
                                    <img src="assets/img/home-1/company/apple.svg" alt="">
                                </div>
                                <div class="featured__option">
                                    <span>Featured</span>
                                </div>
                            </div>
                            <div class="d-flex gap-3 mt-4 flex-wrap">
                                <div class="d-flex gap-2 align-items-center font-sm">
                                    <i class="fa-light fa-location-dot"></i> Newyork, USA
                                </div>
                                <div class="d-flex gap-2 align-items-center font-sm">
                                    <i class="fa-light fa-briefcase"></i> Full Time
                                </div>
                            </div>
                            <div class="font-20 fw-medium job__title mt-3 mb-2">
                                <a href="job-details-1.html#" aria-label="job" class="job__title">
                                    Software Engineer, Apple
                                </a>
                            </div>
                            <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                <a href="job-details-1.html#">Creative</a>
                                <a href="job-details-1.html#">user interface</a>
                                <a href="job-details-1.html#">web ui</a>
                            </div>
                        </div>
                    </div>
                    <!-- single slide end -->
                    <!-- single slide -->
                    <div class="swiper-slide">
                        <div class="rts__job__card style__five">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="company__icon">
                                    <img src="assets/img/home-1/company/google.svg" alt="">
                                </div>
                                <div class="featured__option">
                                    <span>Featured</span>
                                </div>
                            </div>
                            <div class="d-flex gap-3 mt-4 flex-wrap">
                                <div class="d-flex gap-2 align-items-center font-sm">
                                    <i class="fa-light fa-location-dot"></i> Newyork, USA
                                </div>
                                <div class="d-flex gap-2 align-items-center font-sm">
                                    <i class="fa-light fa-briefcase"></i> Full Time
                                </div>
                            </div>
                            <div class="font-20 fw-medium job__title mt-3 mb-2">
                                <a href="job-details-1.html#" aria-label="job" class="job__title">
                                    Software Engineer, bing
                                </a>
                            </div>
                            <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                <a href="job-details-1.html#">Creative</a>
                                <a href="job-details-1.html#">htmx
                                </a>
                                <a href="job-details-1.html#">Php</a>
                                <a href="job-details-1.html#">css</a>
                            </div>
                        </div>
                    </div>
                    <!-- single slide end -->
                
                    <!-- single slide -->
                    <div class="swiper-slide">
                        <div class="rts__job__card style__five">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="company__icon">
                                    <img src="assets/img/home-1/company/in.svg" alt="">
                                </div>
                                <div class="featured__option">
                                    <span>Urgent</span>
                                </div>
                            </div>
                            <div class="d-flex gap-3 mt-4 flex-wrap">
                                <div class="d-flex gap-2 align-items-center font-sm">
                                    <i class="fa-light fa-location-dot"></i> Newyork, USA
                                </div>
                                <div class="d-flex gap-2 align-items-center font-sm">
                                    <i class="fa-light fa-briefcase"></i> Full Time
                                </div>
                            </div>
                            <div class="font-20 fw-medium job__title mt-3 mb-2">
                                <a href="job-details-1.html#" aria-label="job" class="job__title">
                                    Software Engineer, In
                                </a>
                            </div>
                            <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                <a href="job-details-1.html#">Creative</a>
                                <a href="job-details-1.html#">user interface</a>
                                <a href="job-details-1.html#">Python</a>
                            </div>
                        </div>
                    </div>
                    <!-- single slide end -->
                </div>
            </div>
        </div>
    </div>
    <!-- top employer end -->

    <!-- app center -->
    
    <div class="rts__section pb-120">
        <div class="container">
            <div class="row">
                <div class="rts__appcenter">
                    <div class="rts__appcenter__shape">
                        <img src="assets/img/home-1/app/shape.png" alt="">
                    </div>
                    <div class="rts__appcenter__content d-flex flex-wrap flex-xl-nowrap align-items-center justify-content-between justify-content-lg-center">
                        <div class="content__left align-items-end d-flex position-relative top-15px">
                            <img src="assets/img/home-1/app/app_screen.png" alt="">
                        </div>
                        <div class="content__right text-white text-center text-xl-start max-630">
                            <h3 class="l--1 mb-4 text-white wow animated fadeInUp" data-wow-delay=".1s ">Download The app Free!</h3>
                            <p class="wow animated fadeInUp" data-wow-delay=".2s">Looking for a new job can be both exciting and daunting. Navigating the job market involves exploring various avenues.</p>
                            <div class="d-flex gap-3 justify-content-center justify-content-xl-start flex-wrap mt-40 wow animated fadeInUp" data-wow-delay=".3s">
                                <div class="link">
                                    <a href="https://appstore.com" target="_blank" title="app store">
                                        <img src="assets/img/home-1/app/app-store.svg" alt="">
                                    </a>
                                </div>
                                <div class="link">
                                    <a href="https://google.com" target="_blank" title="play store">
                                        <img src="assets/img/home-1/app/play-store.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <!-- app center end -->

    

<div class="modal similar__modal fade " id="loginModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="max-content similar__form form__padding">
            <div class="d-flex mb-3 align-items-center justify-content-between">
                <h6 class="mb-0">Login To Jobpath</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-regular fa-xmark text-primary"></i>
                </button>
            </div>
            <div class="d-block has__line text-center"><p>Choose your Account Type</p></div>
            
            <div class="tab__switch flex-wrap flex-sm-nowrap nav-tab mt-30 mb-30">
                <button class="rts__btn nav-link  active"><i class="fa-light fa-user"></i>Candidate</button>
                <button class="rts__btn nav-link"><i class="rt-briefcase"></i> Employer</button>
            </div>
            <div class="tab-content" id="">
                
            </div>
            <form action="candidate-dashboard.html" method="post" class="d-flex flex-column gap-3">
                <div class="form-group">
                    <label for="email" class="fw-medium text-dark mb-3">Your Email</label>
                    <div class="position-relative">
                        <input type="email" name="email" id="email" value="user@test.com" placeholder="Enter your email" required>
                        <i class="fa-light fa-user icon"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="fw-medium text-dark mb-3">Password</label>
                    <div class="position-relative">
                        <input type="password" name="password" value="1234" id="password" placeholder="Enter your password" required>
                        <i class="fa-light fa-lock icon"></i>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-center fw-medium">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember me
                        </label>
                    </div>
                    <a href="job-details-1.html#" class="forgot__password text-para" data-bs-toggle="modal" data-bs-target="#forgotModal" >Forgot Password?</a>
                </div>
                <div class="form-group my-3">
                    <button class="rts__btn w-100 fill__btn">Login</button>
                </div>
            </form>
            <div class="d-block has__line text-center"><p>Or</p></div>
            <div class="d-flex gap-4 flex-wrap justify-content-center mt-20 mb-20">
                <div class="is__social google">
                    <button><img src="assets/img/icon/google-small.svg" alt="">Continue with Google</button>
                </div>
                <div class="is__social facebook">
                    <button><img src="assets/img/icon/facebook-small.svg" alt="">Continue with Facebook</button>
                </div>
            </div>
            <span class="d-block text-center fw-medium">Don`t have an account? <a href="job-details-1.html#" data-bs-target="#signupModal" data-bs-toggle="modal" class="text-primary">Sign Up</a> </span>
        </div>
      </div>
    </div>
</div>

<!-- signup form -->
<div class="modal similar__modal fade " id="signupModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="max-content similar__form form__padding">
            <div class="d-flex mb-3 align-items-center justify-content-between">
                <h6 class="mb-0">Create A Free Account</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-regular fa-xmark text-primary"></i>
                </button>
            </div>
            <div class="d-block has__line text-center"><p>Choose your Account Type</p></div>
            
            <div class="tab__switch flex-wrap flex-sm-nowrap nav-tab mt-30 mb-30">
                <button class="rts__btn nav-link  active"><i class="fa-light fa-user"></i>Candidate</button>
                <button class="rts__btn nav-link"><i class="rt-briefcase"></i> Employer</button>
            </div>
            <form action="job-details-1.html#" class="d-flex flex-column gap-3">
                
                <div class="form-group">
                    <label for="sname" class="fw-medium text-dark mb-3">Your Name</label>
                    <div class="position-relative">
                        <input type="text" name="sname" id="sname" placeholder="Candidate" required>
                        <i class="fa-light fa-user icon"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label for="signemail" class="fw-medium text-dark mb-3">Your Email</label>
                    <div class="position-relative">
                        <input type="email" name="signemail" id="signemail" placeholder="Enter your email" required>
                        <i class="fa-sharp fa-light fa-envelope icon"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="spassword" class="fw-medium text-dark mb-3">Password</label>
                    <div class="position-relative">
                        <input type="password" name="spassword" id="spassword" placeholder="Enter your password" required>
                        <i class="fa-light fa-lock icon"></i>
                    </div>
                </div>
                
                <div class="form-group my-3">
                    <button class="rts__btn w-100 fill__btn">Login</button>
                </div>
            </form>
            <div class="d-block has__line text-center"><p>Or</p></div>
            <div class="d-flex flex-wrap justify-content-center gap-4 mt-20 mb-20">
                <div class="is__social google">
                    <button><img src="assets/img/icon/google-small.svg" alt="">Continue with Google</button>
                </div>
                <div class="is__social facebook">
                    <button><img src="assets/img/icon/facebook-small.svg" alt="">Continue with Facebook</button>
                </div>
            </div>
            <span class="d-block text-center fw-medium">Have an account? <a href="job-details-1.html#" data-bs-target="#loginModal" data-bs-toggle="modal" class="text-primary">Login</a> </span>
        </div>
      </div>
    </div>
</div>

<!-- forgot password form -->
<div class="modal similar__modal fade " id="forgotModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="max-content similar__form form__padding">
            <div class="d-flex mb-3 align-items-center justify-content-between">
                <h6 class="mb-0">Forgot Password</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-regular fa-xmark text-primary"></i>
                </button>
            </div>
            <form action="job-details-1.html#" class="d-flex flex-column gap-3">
                
                <div class="form-group">
                    <label for="fmail" class="fw-medium text-dark mb-3">Your Email</label>
                    <div class="position-relative">
                        <input type="email" name="email" id="fmail" placeholder="Enter your email" required>
                        <i class="fa-sharp fa-light fa-envelope icon"></i>
                    </div>
                </div>
                
                <div class="form-group my-3">
                    <button class="rts__btn w-100 fill__btn">Reset Password</button>
                </div>
            </form>
        
            <span class="d-block text-center fw-medium">Remember Your Password? <a href="job-details-1.html#" data-bs-target="#loginModal" data-bs-toggle="modal" class="text-primary">Login</a> </span>
        </div>
      </div>
    </div>
</div>